src/main/mule/employee-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="employee-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employee-api-config" api="employee-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="18454660" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="e9072afd-a008-48e2-a35d-a81a14057183" flowRef="employee-api-main" />
	<flow name="employee-api-main">
        <http:listener config-ref="employee-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employee-api-console">
        <http:listener config-ref="employee-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employee-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\employee:employee-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="94233ea9-40e9-439e-a663-ca00af795348" name="employee-data" />
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.data]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="aaabae20-5fff-4544-83ba-11a4b7f6c857" message="employees data retrieved" />
    </flow>
    <flow name="get:\employee\(ID):employee-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9a40ebed-54da-4aeb-8d44-e89104ebebc6" name="employee-data"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(vars.data filter $.employeeId == vars.ID)[0]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b5b8dcbc-e677-4dcc-9fb4-e5e6961b5aed" message="employee data retrieved"/>
    </flow>
    <flow name="post:\employee:application\json:employee-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Employee added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="employee-data" doc:id="a52f9d6c-4028-484b-a5dc-0172bce47381" >
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;[{&#10;	"employeeId": "1",&#10;	"employeeFirstName": "Harshad",&#10;	"employeeLastname": "Patil",&#10;	"DepartmentName": "Support",&#10;	"DepartmentId": "1234",&#10;	"Phone": "987654321",&#10;	"baseLocation": "Banglore",&#10;	"employeeSalary": "100k"&#10;},&#10;	{&#10;	"employeeId": "2",&#10;	"employeeFirstName": "Sumanth",&#10;	"employeeLastname": "Konuduru",&#10;	"DepartmentName": "Support",&#10;	"DepartmentId": "1234",&#10;	"Phone": "987654321",&#10;	"baseLocation": "Hyderabad",&#10;	"employeeSalary": "100k"&#10;},&#10;	{&#10;	"employeeId": "3",&#10;	"employeeFirstName": "Shresta",&#10;	"employeeLastname": "Thudugani",&#10;	"DepartmentName": "Developer",&#10;	"DepartmentId": "1235",&#10;	"Phone": "987654321",&#10;	"baseLocation": "Hyderabad",&#10;	"employeeSalary": "200k"&#10;},&#10;	{&#10;	"employeeId": "4",&#10;	"employeeFirstName": "Abhisheik",&#10;	"employeeLastname": "Veery",&#10;	"DepartmentName": "Developer",&#10;	"DepartmentId": "1235",&#10;	"Phone": "987654321",&#10;	"baseLocation": "Banglore",&#10;	"employeeSalary": "200k"&#10;},&#10;	{&#10;	"employeeId": "5",&#10;	"employeeFirstName": "Vinay",&#10;	"employeeLastname": "N",&#10;	"DepartmentName": "Developer",&#10;	"DepartmentId": "1235",&#10;	"Phone": "987654321",&#10;	"baseLocation": "Chennai",&#10;	"employeeSalary": "200k"&#10;}]]' doc:name="Set Variable" doc:id="742c3237-6ba7-4b66-a47c-7a819d7eed24" variableName="data"/>
	</flow>
</mule>
